<div class="container">
    <h1>History of recent orders</h1>
    <div *ngFor="let order of orders; index as i;" class="list">
        <div class="wrapper">
             <h5>Ordered:
             <span *ngFor="let orderItem of order.OrderItems; index as j; let last = last">
                {{orderItem.Medicine.Name}} x{{orderItem.Quantity}} {{orderItem.Medicine.Dosage}}mg<span *ngIf="!last">,</span>
             </span>
            </h5>
            <h4>Price: {{getPrice(order.OrderItems)}}</h4>
            <h6>Order status: {{getStatus(order.Status)}}</h6>
            <div class="bottom ml-1">Order date: {{changeDate(order.OrderDate)}}
                <button class="btn btn-primary" (click)="orderAgain(order)">Order again</button>
            </div>
        </div>
    </div>
</div>
