.wrapper{
    width: 40vw;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 3vh;
}
.list{
    display: flex;
    justify-content: center;  
    flex:1; 
}
h1{
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
button{
    margin: 3vw;
}

.gap{
    flex:4;
    height: 50%;
}