<div class="container">
    <h2 style="margin-top: 3%; margin-left: 20%;">Order requests:</h2>
    <div *ngFor="let order of orders; index as i;" class="list">
        <div class="wrapper">
             <h5>Ordered:
             <span *ngFor="let orderItem of order.OrderItems; index as j; let last = last">
                {{orderItem.Medicine.Name}} x{{orderItem.Quantity}} {{orderItem.Medicine.Dosage}}mg<span *ngIf="!last">,</span>
             </span>
            </h5>
            <div><h5>User: {{order.User.FirstName}} {{order.User.LastName}}</h5> </div>
            <h6>Price: {{getPrice(order.OrderItems)}}</h6>
            <div class="bottom ml-1">Request type:: {{getStatus(order.Status)}}
                <button class="btn" style="background-color: #214975; color: white;" (click)="updateStatus(order)">{{getButton(order.Status)}}</button>
            </div>
        </div>
    </div>
</div>

