name: Deploy to server
on:
  workflow_dispatch:
  push:
    branches:  [master]

jobs:
  build-and-publish-frontend-image:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout GitHub actions
          uses: actions/checkout@v2
        - name: Login to DockerHub
          uses: docker/login-action@v1 
          with:
            username: anagavrilovic
            password: ${{ secrets.DOCKERHUB_TOKEN_2 }}
        
        - name: Build and push
          id: docker_build
          uses: docker/build-push-action@v2
          with:
            context: ./dockerfile
            push: true
            tags: anagavrilovic/pharmacy-gateway:latest

  build-and-publish-backend-image:
    runs-on: ubuntu-latest
    needs: build-and-publish-frontend-image
    steps:
      - name: Checkout GitHub actions
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: marijakljestan
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./backend
          push: true
          tags: marijakljestan/pharmacy:latest

  Deploy:
    name: Deploy on server
    runs-on: ubuntu-latest
    needs: build-and-publish-backend-image
    steps:
    - name: deploy-on-server
      uses: appleboy/ssh-action@master
      with:
        command_timeout: 200m
        host: ${{ secrets.SSH_IP_ADDRESS }}
        username: student
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd DevOps
          git pull
          git checkout bugfix/frontend
          cd docker-compose
          docker-compose build
          docker-compose up -d
